<nav class="menu">
    <ul>
        <li class="selected">fossason</li>
        <li>championship</li>
        <li>moments</li>
        <li>quickplay</li>
        <li>time trial</li>
        <li>rally school</li>
        <li>builder</li>
        <li>customization</li>
        <li>options</li>
        <li>exit</li>
    </ul>
</nav>

<div class="description">
    Core WRC experience. Build up a legacy through multiple classes, or start at the top with the rally1 group, create
    and keep track of your team and set goals and objectives to be met each season.
</div>